{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-between mb-4">
    <h4 class="page-title">Admin Event Management</h4>
    <a href="{% url 'create_event' %}" class="btn btn-success">+ Add Event</a>
</div>

<div class="card shadow-sm">
    <div class="card-body">

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Payment</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for event in events %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.date|date:"M d, Y" }}</td>
                    <td>
                        {% if event.is_paid %}
                            <span class="badge bg-warning">Paid</span>
                        {% else %}
                            <span class="badge bg-success">Free</span>
                        {% endif %}
                    </td>
                    <td>Ksh {{ event.price }}</td>

                    <td>
                        <a href="{% url 'edit_event' event.id %}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="{% url 'delete_event' event.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
</div>

{% endblock %}
