{% extends "base.html" %}
{% block content %}

<h3 class="page-title mb-4 text-center">University Events</h3>

<div class="row">
{% for event in events %}
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm h-100">

            <div class="card-body">
                <h5 class="fw-bold">{{ event.title }}</h5>
                <p class="small text-muted">{{ event.description|truncatechars:80 }}</p>

                <p><strong>Venue:</strong> {{ event.venue }}</p>
                <p><strong>Date:</strong> {{ event.date|date:"M d, Y" }}</p>

                {% if event.is_paid %}
                    <span class="badge badge-paid mb-2">Paid · Ksh {{ event.price }}</span>
                {% else %}
                    <span class="badge badge-free mb-2">Free Event</span>
                {% endif %}

                <div class="d-flex justify-content-between mt-3">
                    <a href="{% url 'register_event' event.id %}" class="btn btn-primary btn-sm">Register</a>

                    {% if event.is_paid %}
                        <a href="{% url 'initiate_payment' event.id %}" class="btn btn-warning btn-sm">Pay</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% empty %}
    <p class="text-center">No events published.</p>
{% endfor %}
</div>

{% endblock %}
